TranslationReport.txt
Persian/Anomaly/About/
Persian/Anomaly/AssetBundles/
Persian/Anomaly/Defs
Persian/Anomaly/Languages/English
Persian/Anomaly/Languages/Catalan (Català).tar
Persian/Anomaly/Languages/ChineseSimplified (简体中文).tar
Persian/Anomaly/Languages/ChineseTraditional (繁體中文).tar
Persian/Anomaly/Languages/Czech (Čeština).tar
Persian/Anomaly/Languages/French (Français).tar
Persian/Anomaly/Languages/German (Deutsch).tar
Persian/Anomaly/Languages/Hungarian (Magyar).tar
Persian/Anomaly/Languages/Japanese (日本語).tar
Persian/Anomaly/Languages/Korean (한국어).tar
Persian/Anomaly/Languages/Polish (Polski).tar
Persian/Anomaly/Languages/PortugueseBrazilian (Português Brasileiro).tar
Persian/Anomaly/Languages/Russian (Русский).tar
Persian/Anomaly/Languages/Spanish (Español(Castellano)).tar
Persian/Anomaly/Languages/SpanishLatin (Español(Latinoamérica)).tar
Persian/Anomaly/Languages/Turkish (Türkçe).tar
Persian/Anomaly/Languages/Ukrainian (Українська).tar

Persian\Biotech\About
Persian\Biotech\AssetBundles
Persian\Biotech\Defs
Persian\Biotech\Patches
Persian\Biotech\Languages\English
Persian\Biotech\Languages\Catalan (Català).tar
Persian\Biotech\Languages\ChineseSimplified (简体中文).tar
Persian\Biotech\Languages\ChineseTraditional (繁體中文).tar
Persian\Biotech\Languages\Czech (Čeština).tar
Persian\Biotech\Languages\French (Français).tar
Persian\Biotech\Languages\German (Deutsch).tar
Persian\Biotech\Languages\Hungarian (Magyar).tar
Persian\Biotech\Languages\Italian (Italiano).tar
Persian\Biotech\Languages\Japanese (日本語).tar
Persian\Biotech\Languages\Korean (한국어).tar
Persian\Biotech\Languages\Polish (Polski).tar
Persian\Biotech\Languages\PortugueseBrazilian (Português Brasileiro).tar
Persian\Biotech\Languages\Russian (Русский).tar
Persian\Biotech\Languages\Spanish (Español(Castellano)).tar
Persian\Biotech\Languages\SpanishLatin (Español(Latinoamérica)).tar
Persian\Biotech\Languages\Turkish (Türkçe).tar
Persian\Biotech\Languages\Ukrainian (Українська).tar

